

#grid{
  display: grid;
  grid-template-columns: 300px 1fr;
}
body{
  margin: 0;
}
  h1{
    text-align: center;
    font-size: 70Px;
    border-bottom: 1px gray solid;
    padding: 20px;
    margin: 0px;
    }
  a {
    color:black;
    text-decoration: none;
  }
  #active{
    color:magenta;
  }
  .saw{ 
    color:gray;
  }
#grid ul{
    text-align: center;
    padding: 40px;
    padding-bottom: 628px;
    width: 200px;
    border-right:1px solid gray;
    font-size: 20px;
    margin: 0;
  }
#cal_1{
    text-align: left;
    padding:  30px;
    font-size: 15px;
    margin: 0;
  }
  @media(max-width:800px){
  #grid{
      display:block;
    }
      #grid ul{
        border-right:none;
        padding-bottom: 0px;
      }
        h1{
          text-align: none;
          border-bottom: none;
          font-size: 30px;
        }

  }